{% if section.settings.url != blank %}
  
  <iframe class="iframe-section" src="{{ section.settings.url }}"></iframe>
  <style>
    html, body {
        margin: 0;
        height: 100%;
       overflow: hidden;
    }

    
    .iframe-section{
        width: 100%;
        border: none;
        min-height: 100svh;
    }  
 
    .shopify-section.section:not(#shopify-section-{{section.id}}){
      display:none !important
    }

  </style>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const header = document.querySelector("sticky-header");
      
      if(header){
        const {height} = header.getBoundingClientRect()
        const iframe = document.querySelector(".iframe-section");
        if(iframe) {
          iframe.style.minHeight = `calc(100svh - ${height * 4}px)`
          iframe.style.border = '1px solid red'
        }
      }

      const footer = document.querySelector("footer");
      if(footer){
        const html = document.querySelector("iframe-section");
        const body = document.querySelector("iframe-section");
      }
    });
  </script>
{% else %}
   <h5>Insert an URL</h5>
{% endif %}
{% schema %}
  {
    "name": "doomscrollr",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "limit": 1,
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "url",
        "id": "url",
        "label": "doomscrollr URL"
      },
    ],
    "presets": [
      {
        "name": "doomscrollr"
      }
    ]
  }
{% endschema %}