{% if section.settings.url != blank %}
  
  <iframe class="iframe-section" src="{{ section.settings.url }}"></iframe>
  <style>
    html, body {
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    .iframe-section{
        width: 100%;
        border: none;
        min-height: 100svh;
    }  

    sticky-header{
      display: none !important;
    }
    
    .shopify-section.section:not(#shopify-section-{{section.id}}){
      display:none !important
    }

  </style>
  
{% else %}
   <h5>Insert an URL</h5>
{% endif %}
{% schema %}
  {
    "name": "doomscrollr",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "limit": 1,
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "url",
        "id": "url",
        "label": "doomscrollr URL"
      },
    ],
    "presets": [
      {
        "name": "doomscrollr"
      }
    ]
  }
{% endschema %}