{{ 'container.css' | asset_url | stylesheet_tag }}

<div class="content-container">
  
</div>
{% schema %}
  {
    "name": "Image Block",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "tag": "section",
    "class": "section",
    "settings": [],
    "presets": [
      {
        "name": "Image block"
      }
    ]
  }
{% endschema %}