<div>
  BLA BLA
</div>
{% schema %}
  {
    "name": "Image Block",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "tag": "section",
    "class": "section",
    "settings": []
  }
{% endschema %}