{{ 'image-section.css' | asset_url | stylesheet_tag }}

{% if section.settings.image != blank %}
  <div class="image-section">
    <div class="image-container">
      {% render 'image', image: section.settings.image %}
      {% if section.settings.url != blank %}
        <a href="{{ section.settings.url }}" class="image-link">
          <div class="image-icon">
            {% render 'linkIcon' %}
          </div>
        </a>
      {% endif %}
    </div> 
    {% if section.settings.title != blank %}
      <h2 class="image-title">
        {{ section.settings.title }}
      </h2>
    {% endif %}
    {% if section.settings.subtitle != blank %}
      <p class="image-subtitle">
        {{ section.settings.subtitle }}
      </p>
    {% endif %}
  </div>
{% else %}
  <h5>Select an image</h5>
{% endif %}
{% schema %}
  {
    "name": "Image Block",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Image Link"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "inline_richtext",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ],
    "presets": [
      {
        "name": "Image block"
      }
    ]
  }
{% endschema %}