{{ 'container.css' | asset_url | stylesheet_tag }}

<div class="content-container">
  
</div>
{% schema %}
  {
    "name": "Image Block",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Image Link"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "inline_richtext",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ],
    "presets": [
      {
        "name": "Image block"
      }
    ]
  }
{% endschema %}