{{ 'image-section.css' | asset_url | stylesheet_tag }}

{% if section.settings.image != blank %}
  <div class="image-section">
    <div class="image-container">
      {% render 'image', image: section.settings.image %}
    </div> 
  </div>
{% else %}
  <h5>Select an image</h5>
{% endif %}
{% schema %}
  {
    "name": "Image Block",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Image Link"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "inline_richtext",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ],
    "presets": [
      {
        "name": "Image block"
      }
    ]
  }
{% endschema %}