{{ 'instagram-section.css' | asset_url | stylesheet_tag }}

{% if section.settings.embed_code != blank  %}
  <div class="instagram-section">
      <div class="instragram-inner">
        {{ section.settings.embed_code }}
      </div>
  </div>
{% else %}
   <h5>Provide an instagram embed code</h5>
{% endif %}

{% schema %}
  {
    "name": "Instagram Block",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "tag": "section",
    "class": "section",
    "settings": [
        {
          "type": "textarea",
          "id": "embed_code",
          "label": "Embed Code"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Video Link"
        }
    ],
    "presets": [
      {
        "name": "Instagram block"
      }
    ]
  }
{% endschema %}