{% if section.settings.embed_code != blank  %}
  <div class="instagram-post">
    {{ section.settings.embed_code }}
  </div>
{% else %}
   <h5>Provide an instagram embed code</h5>
{% endif %}

{% schema %}
  {
    "name": "Instagram Block",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "tag": "section",
    "class": "section",
    "settings": [
        {
          "type": "textarea",
          "id": "embed_code",
          "label": "Embed Code"
        }
    ],
    "presets": [
      {
        "name": "Instagram block"
      }
    ]
  }
{% endschema %}