{{ 'video-section.css' | asset_url | stylesheet_tag }}

{% if section.settings.video != blank %}
  <div class="video-section">
    <iframe
      src="https://player.vimeo.com/video/{{ section.settings.video.id }}"
      class="js-vimeo"
      allow="autoplay; encrypted-media"
      allowfullscreen
    ></iframe>
  </div>
{% else %}
  <h5>Select a video</h5>
{% endif %}
{% schema %}
  {
    "name": "Video Block",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "tag": "section",
    "class": "section",
    "settings": [
       {
          "type": "video_url",
          "id": "video",
          "accept": ["vimeo"],
          "label": "Video Url"
        },
    ],
    "presets": [
      {
        "name": "Video block"
      }
    ]
  }
{% endschema %}