.image-section{
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 20px;
  min-height: 100svh;
  flex-direction: column;
  justify-content: center;
}

.image-container{
  display: flex;
  height: fit-content;
  justify-content: center;
}

.image-container img{
  height: auto;
  display: block;
  max-width: 100%;
}

.image-title {
  font-size: 2.2em;
  margin-top: 10px;
}