.instagram-section{
  gap: 10px;
  width: 100%;
  color: black;
  display: flex;
  padding: 20px;
  min-height: 100svh;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.instagram-inner{
  width: 50%;
  min-width: 350px;  
}

.instagram-inner iframe{
    border: 0;
    min-width: auto!important;
}