.instagram-section{
  gap: 10px;
  width: 100%;
  color: black;
  display: flex;
  padding: 20px;
  min-height: 100svh;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.instagram-section iframe{
    border: 0;
    padding: 0px;
    display: block;
    box-shadow: none;
    max-width: 658px;
    min-width: 326px;
    margin: 0px 0px 12px;
    width: calc(100% - 2px);
}