.video-section{
  gap: 10px;
  width: 100%;
  color: black;
  display: flex;
  padding: 20px;
  min-height: 100svh;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.video-inner{
  width: 800px;
  height: 600px;
  max-width: 100%;
}

.video-inner iframe{
  border: 0;
  width: 800px;
  height: 600px;
  max-width: 100%;
}

.video-icons{
  display: flex;
  justify-content: center;
}